.order-creation-container {
  position: absolute;
  z-index: 1;
  width: 30%;
  max-width: 410px;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-creation-card {
  width: 90%;
  height: 90%;

  display: flex;
  flex-direction: column;

  pointer-events: auto;

  background-color: white;

  border: 1px solid lighten(gray, 35%);

  -webkit-box-shadow: 0px 3px 5px 0px rgba(214,214,214,1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(214,214,214,1);
  box-shadow: 0px 3px 5px 0px rgba(214,214,214,1);
}

.order-creation-head {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 160px;

  .head-bg {
    position: absolute;
    z-index: 0;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    .head-bg-1,
    .head-bg-2 { flex: 1; }
    .head-bg-1 { background-color: #6b81a4; }
  }
}


.user-type-container {

  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 85%;
  z-index: 1;
  border: 1px solid lighten(gray, 30%);
  background-color: white;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  -webkit-box-shadow: 0px 3px 5px 0px rgba(214,214,214,1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(214,214,214,1);
  box-shadow: 0px 3px 5px 0px rgba(214,214,214,1);
}

.user-type-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
  margin-bottom: 20px;

  > * { color: lighten(gray, 15%); }

  cursor: pointer;

  .badge-icon {
    height: 48px;
    width: 48px;

    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    border: 1px solid lighten(gray, 35%);
  }

  .user-type-title {
    margin: 10px 0 0;
  }

  &:hover {

    > * {
      color: darken(#e1fcf5, 50%);
      transition: color ease .5s;
    }
    .badge-icon {
      background-color: #e1fcf5;
      transition: background-color ease .3s;
    }
  }

}

.order-creation-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-steps-container {
  width: 85%;

  display: flex;
  justify-content: space-between;

  .step-badge {
    height: 30px;
    width: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid lighten(gray, 30%);
    color: lighten(gray, 30%);

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }

  .order-steps {
    display: flex;
    .step-badge:first-of-type { margin-left: 0; }
    .step-badge { margin-left: 1%; }
  }

  .order-step-current {
    display: flex;
    align-items: center;
    flex: 1;
    h4 { margin-left: 1%; }
  }
}

.container-line {
  width: 85%;
  height: 1px;
  border: none;
  background-color: lighten(gray, 35%);
  margin: 20px 0 20px 0;
}

.order-places {
  width: 100%;

  display: flex;
  flex-direction: column;

  .places-select {
    margin-left: 5%;
    margin-right: 5%;

    border: none;
    background-color: transparent;

    outline: none;
  }
}

.places-autocomplete-container {

  background-color: #e1fcf5;

  .icon-col {
    width: 12%;

    padding-left: 5%;

    display: flex;
    align-items: flex-end;
  }

  .input-col {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 5%;
    i {
      position: absolute;
      margin-top: 15px;
      right: 5%;
    }
  }
}

.input-autocomplete-place {
  padding-top: 15px;
  border: none;
  border-bottom: 1px solid lighten(gray, 10%);

  background-color: transparent;

  color: lighten(gray, 10%);
}

.order-fav-container {
  width: 100%;
  flex: 1;
  overflow-y: auto;
  padding-left: 5%;
}

.order-fav-list {
  padding-top: 20px;
  padding-bottom: 20px;

  .order-fav-item {
    button {
      padding-bottom: 20px;
      width: 100%;
      display: flex;
    }
  }

  .order-fav-item:last-of-type {
    button {
      padding-bottom: 0;
    }
  }
  
}

.order-fav-btn {

  .icon-col {
    display: flex;
    align-items: center;
  }

  .fav-icon {
    height: 50px;
    width: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    background-color: yellow;
    color: darkgoldenrod;
  }

  .fav-content {
    flex: 1;

    padding: 10px 5% 10px 5%;

    text-align: left;
  }

}

.order-creation-footer {
  padding: 15px 5% 15px 5%;

  display: flex;
  justify-content: flex-end;

  border-top: 1px solid lighten(gray, 35%);

  -webkit-box-shadow: 0px -1px 3px 0px rgba(222,222,222,1);
  -moz-box-shadow: 0px -1px 3px 0px rgba(222,222,222,1);
  box-shadow: 0px -1px 3px 0px rgba(222,222,222,1);
}

.next-btn {
  height: 50px;
  width: 50px;

  background-color: lighten(gray, 35%);
  color: gray;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}



