<div class="full-height vertical-center order-creation-container">

  <div class="order-creation-card">

    <div class="order-creation-head">

      <div class="head-bg">
        <div class="head-bg-1"></div>
        <div class="head-bg-2"></div>
      </div>

      <div class="user-type-container">

        <button class="user-type-btn btn btn-nothing">
          <div class="badge-icon">
            <fa-icon [icon]="faCoffee"></fa-icon>
          </div>
          <h6 class="user-type-title">Para mi</h6>
        </button>

        <button class="user-type-btn btn btn-nothing">
          <div class="badge-icon">
            <fa-icon [icon]="faCoffee"></fa-icon>
          </div>
          <h6 class="user-type-title">Colega</h6>
        </button>

        <button class="user-type-btn btn btn-nothing">
          <div class="badge-icon">
            <fa-icon [icon]="faCoffee"></fa-icon>
          </div>
          <h6 class="user-type-title">Invitado</h6>
        </button>

      </div>
      
    </div>

    <div class="order-creation-body">

      <div class="order-steps-container">
        <div class="order-step-current">
          <span class="step-badge">1</span>
          <h4 class="no-margin">Origen</h4>
        </div>
        <div class="order-steps">
          <span class="step-badge">2</span>
          <span class="step-badge">3</span>
          <span class="step-badge">4</span>
          <span class="step-badge">5</span>
          <span class="step-badge">6</span>
        </div>
      </div>
      
    </div>

  </div>

</div>
