<div class="full-height vertical-center order-creation-container">

  <form class="order-creation-card" [formGroup]="formOrder">

    <div class="order-creation-head">

      <div class="head-bg">
        <div class="head-bg-1"></div>
        <div class="head-bg-2"></div>
      </div>

      <div class="user-type-container">

        <button class="user-type-btn btn btn-nothing" type="button">
          <div class="badge-icon">
            <i class="fa fa-user-o"></i>
          </div>
          <h6 class="user-type-title">Para mi</h6>
        </button>

        <button class="user-type-btn btn btn-nothing" type="button">
          <div class="badge-icon">
            <i class="fa fa-users"></i>
          </div>
          <h6 class="user-type-title">Colega</h6>
        </button>

        <button class="user-type-btn btn btn-nothing" type="button">
          <div class="badge-icon">
            <i class="fa fa-user-secret"></i>
          </div>
          <h6 class="user-type-title">Invitado</h6>
        </button>

      </div>
      
    </div>

    <div class="order-creation-body">

      <div class="order-steps-container">
        <div class="order-step-current">
          <span class="step-badge">1</span>
          <h4 class="no-margin">Origen</h4>
        </div>
        <div class="order-steps">
          <span class="step-badge">2</span>
          <span class="step-badge">3</span>
          <span class="step-badge">4</span>
          <span class="step-badge">5</span>
          <span class="step-badge">6</span>
        </div>
      </div>

      <hr class="container-line"/>

      <div class="order-places">

        <select name="" id="" class="select places-select">
          <option value="">Cundinamarca</option>
        </select>

        <div class="row places-autocomplete-container">
          <div class="icon-col">
            <i class="fa fa-map-pin fa-2x"></i>
          </div>
          <div class="col input-col">
            <input class="input input-autocomplete-place no-outline"
                   type="text" placeholder="¿Donde te recogemos?"
                   formControlName="address"/>
            <i class="fa fa-circle-o-notch fa-spin fa-fw" [hidden]="!loading"></i>
          </div>
        </div>

      </div>

      <div class="order-fav-container">

        <h4>Favorites</h4>

        <ul class="order-fav-list list-none">
          <li class="order-fav-item">
            <button class="btn btn-nothing order-fav-btn row" type="button">
              <div class="icon-col">
                <div class="fav-icon">
                  <i class="fa fa-star"></i>
                </div>
              </div>
              <div class="col fav-content">
                <h4 class="no-margin">Casa</h4>
                <h5 class="no-margin">Carrera 50b #64 - 43 </h5>
              </div>
            </button>
          </li>
        </ul>

      </div>

    </div>

    <div class="order-creation-footer">
      <button class="btn btn-nothing next-btn" type="submit">
       <i class="fa fa-arrow-right"></i>
      </button>
    </div>


  </form>

</div>
