@import "~normalize.css/normalize.css";

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  font-family: 'Raleway', sans-serif;
}

html, body, .full-height { height: 100%; }

.row { display: flex; }

.col { flex: 1; }
.col-2 { width: 20%; }
.col-8 { width: 80%; }

.menu-col {
  @extend .col-2;
  max-width: 273px;
}

.map-col { flex: 1; }

.list-none {
  margin: 0;
  padding: 0;
  list-style: none;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.btn {
  &.btn-nothing {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background-color: transparent;
  }
}

.select {
  height: 40px;
}

.input {
  height: 40px;
  width: 100%;
}

.no-margin { margin: 0; }
.no-margin-top { margin-top: 0; }
.no-margin-bottom { margin-bottom: 0; }

.no-outline { outline: none; }
